@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style:none;}
a{text-decoration: none;}

/* html{scroll-behavior: smooth;}  부드럽게 넘어간다 */

#nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(225, 225, 225, 0.3);
}
#nav h1{
    float: left;
    color: #fff;
    padding-left: 20px;
    font-size: 40px;
}
#nav ul{
    float: right;
    padding-top: 10px;}
#nav ul li{
    float: left;
    padding: 5px 5px 5px 15px;}
#nav ul li a{color: #fff; text-transform: uppercase;}

#contents{}
#contents>div{height: 100vh; text-align: center;}
#contents>div h2{padding-top: 10%; font-size: 90px;}  /* %의 기준은 부모의 넓이 */

#contents>div#section1{
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
#contents>div#section2{
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
#contents>div#section3{
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#contents>div#section4{
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contents>div#section5{
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contents>div#section6{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}